/* Project02/src/css/style.css */

table {
    margin: 1rem auto;
    border-collapse: collapse;
    height: 40rem;
    width: 40rem;
  }

td {
    padding: 0px;
    border: 0.1rem solid black;
    height: 11%;
    width: 11%;
    text-align: center;
}

input[type = number] {
    border: none;
    height: 100%;
    width: 100%;
    text-align: center;
    font-size: 1.2rem;
    background: none;
}

input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button { 
    margin: 0px; 
    -webkit-appearance: none; 
}

.col1, .col4, .col7 {
    border-left: solid 0.15rem black;
}

.col3, .col6, .col9 {
    border-right: solid 0.15rem black;
}

.row1, .row4, .row7 {
    border-top: solid 0.15rem black;
}

.row3, .row6, .row9{
    border-bottom: solid 0.15rem black;
}
