/* Project02/src/css/style.css */

table {
    border-collapse: collapse;
    margin: auto;
    height: 700px;
    width: 700px;
  }

td {
    border: 1px solid black;
    height: 29px;
    width: 26px;
    text-align: center;
}

input[type = number] {
    height: 100%;
    width: 100%;
    text-align: center;
    border: none;
    font-size: 1.2rem;
    background: none;
}

input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
}

.box1 .box2 .box3 .box4 .box5 .box6 .box7 .box8 .box9 {
    border: 3px solid black;
}

.row1 {
    background-color: palegoldenrod;
}

.row2 {
    background-color: orange;
}

.row3 {
    background-color: tomato;
}

.row4 {
    background-color: orangered;
}

.row5 {
    background-color: purple;
}

.row6 {
    background-color: blueviolet
}

.row7 {
    background-color: steelblue;
}

.row8 {
    background-color: seagreen;
}

.row9 {
    background-color: palegreen;
}