/* Project02/src/css/style.css */

table {
    border-collapse: collapse;
    margin: auto;
    /* height: 700px; */
    height: 40rem;
    /* width: 700px; */
    width: 40rem;
  }

td {
    border: 1px solid black;
    /* height: 29px; */
    height: 11%;
    /* width: 26px; */
    width: 11%;
    text-align: center;
}

input[type = number] {
    height: 100%;
    width: 100%;
    text-align: center;
    border: none;
    font-size: 1.2rem;
    background: none;
}

input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
}


.box1, .box2, .box3, .box4, .box5, .box6, .box7, .box8, .box9 {
    /* border: 3px solid black; */
    padding: 0px;
}



/* .row1 {
    background-color: palegoldenrod;
}

.row2 {
    background-color: orange;
}

.row3 {
    background-color: tomato;
}

.row4 {
    background-color: orangered;
}

.row5 {
    background-color: purple;
}

.row6 {
    background-color: blueviolet;
}

.row7 {
    background-color: steelblue;
}

.row8 {
    background-color: seagreen;
}

.row9 {
    background-color: palegreen;
} */

.col1, .col4, .col7 {
    border-left: solid 0.15rem black;
}

.col3, .col6, .col9 {
    border-right: solid 0.15rem black;
}

.row1, .row4, .row7 {
    border-top: solid 0.15rem black;
}

.row3, .row6, .row9{
    border-bottom: solid 0.15rem black;
}
